/*  Colors
- Almost White: hsl(0, 0%, 98%)
- Medium Gray: hsl(0, 0%, 41%)
- Almost Black: hsl(0, 0%, 8%) */

/******* BASE STYLES ********/
* {
    margin: 0;
    padding: 0;
}

body {
    color: hsl(0, 0%, 8%);
    background: hsl(0, 0%, 98%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

img {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

/****** HEADER STYLES ******/
header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1.25em;
}

#open-menu {
    cursor: pointer;
}

/*** Menu Styles ***/
.menu {
    display: none;
}

.menu.open {
    display: flex;
}

.outer-modal {
    align-items: center;
    background: hsla(0, 0%, 0%, 0.6);
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.inner-modal {
    align-content: flex-start;
    background: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: .8em;
    height: 100vh;
    justify-content: flex-start;
    padding: .5em;
    position: fixed;
    width: 65vw;
}

#close-menu {
    cursor: pointer;
    padding: 1.2em;
    width: 10%;
    align-self: flex-end;
}

#menu-options {
    padding: 0 2em;
}

.menu ul {
    list-style: none;
}

.menu li {
    padding-bottom: 1em;
}

.parent {
    padding: .75em 0;
}

.child {
    padding-left: 1.5em;
}

#feature-children {
    display: none;
}

#feature-children.open {
    display: block;
}

#company-children {
    display: none;
}

#company-children.open {
    display: block;
}

.menu a {
    display: flex;
    flex-wrap: nowrap;
}

.arrows {
    padding-left: 1em;
}

.icon {
    padding-right: 1em;
}

#sign-in-options a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

#register {
    border: 2px solid hsl(0, 0%, 41%);
    border-radius: 1em;
    margin: 0 .5em;
}

/****** MAIN STYLES ******/
.main {
    text-align: center;
}

.main h1 {
    padding: 1em .5em .5em;
}

.main p {
    color: hsl(0, 0%, 41%);
    font-size: .85em;
    line-height: 1.5em;
    padding: 0 1.2em 1.2em 1.2em;
}

#learn-more {
    background-color: hsl(0, 0%, 8%);
    border: none;
    border-radius: 1em;
    color: hsl(0, 0%, 98%);
    cursor: pointer;
    font: inherit;
    font-size: .85em;
    font-weight: 700;
    margin-bottom: 2.3em;
    padding: .75em 2em;
}

.clients {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.clients>* {
    padding: 1em;
}

/* Attribution Styles */
.attribution {
    font-size: .7em;
    margin-top: 2em;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/********************** DESKTOP STYLES  ******************************/
@media (min-width: 1200px) {


    /****** HEADER STYLES ******/

    header {
        align-items: flex-start;
    }

    #open-menu {
        display: none;
    }

    .menu {
        display: flex;
        width: 100%;
    }

    .outer-modal {
        background: none;
        height: fit-content;
        position: relative;
        width: 100%;
    }

    .inner-modal {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: fit-content;
        justify-content: space-between;
        position: relative;
        width: 100%;
    }

    #close-menu {
        display: none;
    }

    #menu-options {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #sign-in-options {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #feature-children,
    #company-children {
        border-radius: .85em;
        box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
        flex-direction: column;
        margin-top: .75em;
        padding: 1.75em;
        position: absolute;
    }

    #feature-children>*,
    #company-children>* {
        padding: .35em;
    }

    #feature-children.open,
    #company-children.open {
        display: flex;
    }

    #sign-in-options {
        align-items: baseline;
        justify-content: flex-end;
    }

    #register {
        margin-left: 1.25em;
        padding: .5em .75em;
    }

    /****** MAIN STYLES ******/
    .main {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        margin-top: 2em;
    }

    #hero-fig {
        flex: 1;
        margin: 0 4.5em;
    }

    #hero {
        content: url(../images/image-hero-desktop.png);
    }

    #main-text {
        align-content: space-between;
        display: flex;
        flex: 1.5;
        flex-wrap: wrap;
        padding: 6em 2em 0 4.5em;
        text-align: left;
    }

    .main h1 {
        font-size: 3em;
        margin-right: 3em;
        padding: 0;
    }

    .main p {
        padding: 0;
        margin-right: 10em;
    }

    #learn-more {
        margin: 0;
        width: 30%;
    }
}